@font-face {
  font-family: 'Nautilus Pompilius';
  font-display: swap;
  src: url("../fonts/NautilusPompilius.eot");
  src: local("Nautilus Pompilius Regular"), local("NautilusPompilius"), url("../fonts/NautilusPompilius.eot?#iefix") format("embedded-opentype"), url("../fonts/NautilusPompilius.woff2") format("woff2"), url("../fonts/NautilusPompilius.woff") format("woff"), url("../fonts/NautilusPompilius.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.container {
  max-width: 1283px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.phone {
  font-weight: 600;
  font-size: 18px;
}

.phone--primary {
  color: #595354;
}

.button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.button--primary {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#F492B2), to(#F65D77));
  background: -webkit-linear-gradient(top, #F492B2 0%, #F65D77 100%);
  background: -o-linear-gradient(top, #F492B2 0%, #F65D77 100%);
  background: linear-gradient(180deg, #F492B2 0%, #F65D77 100%);
  -webkit-box-shadow: 0px 4px 19px #F65D77;
          box-shadow: 0px 4px 19px #F65D77;
}

.button--primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6799), to(#F65D77));
  background: -webkit-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: -o-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: linear-gradient(180deg, #FF6799 0%, #F65D77 100%);
}

.button--primary:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6799), to(#F65D77));
  background: -webkit-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: -o-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: linear-gradient(180deg, #FF6799 0%, #F65D77 100%);
}

.title {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  line-height: 41px;
  text-align: center;
}

.title span {
  color: #F65D77;
}

.title--primary {
  color: #57565C;
}

.mask-nav {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(89, 83, 84, 0.9);
  z-index: 40;
}

.nav__block {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 50;
  max-width: 328px;
  width: 100%;
  background-color: #ffffff;
}

.nav__block-active {
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__logo {
  display: block;
  margin-left: 10px;
  width: 73px;
}

.nav__close {
  background: url("../img/close.svg") center/cover no-repeat;
  width: 19px;
  height: 17px;
  border: none;
  margin: 15px 15px 0 0;
}

.nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #C4C4C4;
}

.nav__bottom {
  padding: 23px 30px 40px 37px;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  margin-bottom: 22px;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__link {
  color: #595354;
  line-height: 22px;
}

.header {
  padding: 35px 0 0;
}

.burger {
  cursor: pointer;
}

.logo {
  display: block;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__contacts {
  margin-right: -36px;
}

.menu__burger {
  width: 40px;
  height: 35px;
  margin-right: 36px;
}

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  margin-top: -32px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__phone {
  margin-top: 3px;
}

.contacts__phone::before {
  content: url("../img/phone.svg");
  width: 30px;
  height: 30px;
  margin: -2px 5px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.contacts__viber {
  margin: 0 8px 0 25px;
}

.contacts__whatsapp {
  margin: -2px 58px 0 0;
}

.contacts__button {
  margin-top: -8px;
  width: 189px;
  height: 38px;
  padding: 11px 10px 11px 15px;
}

.hero {
  padding-top: 264px;
}

.hero__bg {
  position: relative;
  width: 100%;
  min-height: 945px;
  background: -webkit-linear-gradient(3.2deg, rgba(255, 255, 255, 0.94) 28.09%, rgba(255, 255, 255, 0) 65.03%), url("../img/hero/hero-bg.jpg") no-repeat;
  background: -o-linear-gradient(3.2deg, rgba(255, 255, 255, 0.94) 28.09%, rgba(255, 255, 255, 0) 65.03%), url("../img/hero/hero-bg.jpg") no-repeat;
  background: linear-gradient(86.8deg, rgba(255, 255, 255, 0.94) 28.09%, rgba(255, 255, 255, 0) 65.03%), url("../img/hero/hero-bg.jpg") no-repeat;
  overflow: hidden;
}

.hero__content {
  max-width: 690px;
}

.hero__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  color: #595354;
  margin: 0;
}

.hero p {
  color: #595354;
  font-weight: 600;
  font-size: 29px;
  line-height: 39px;
  margin: 32px 0 70px;
}

.hero__button {
  max-width: 338px;
  width: 100%;
  height: 54px;
  padding: 20px 110px 15px 100px;
  margin-left: -6px;
}

.hero__cloud {
  position: absolute;
  left: 10px;
  bottom: -120px;
  background: url("../img/hero/hero-cloud.png") center no-repeat;
  width: 100%;
  min-height: 327px;
}

.services {
  padding: 42px 0 150px;
}

.services__title {
  margin: 0 0 82px -32px;
}

.services-card {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.services-card__item {
  margin-bottom: 112px;
  position: relative;
}

.services-card__item:nth-child(1), .services-card__item:nth-child(4) {
  margin-left: -50px;
}

.services-card__item:nth-child(2), .services-card__item:nth-child(5) {
  margin: 0 60px 112px 66px;
}

.services-card__item:nth-child(3), .services-card__item:nth-child(6) {
  margin-right: -30px;
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-cards__items {
  margin: 0 auto;
  max-width: 955px;
}

.services-card__block {
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.services-card__image {
  max-width: 240px;
  height: 306px;
}

.services-card__image img {
  width: 100%;
  height: 100%;
}

.services-card__button {
  margin-top: 40px;
  width: 100%;
  height: 38px;
  max-width: 238px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -61px;
}

.services-card__text {
  font-family: 'Nautilus Pompilius', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #595354;
  margin: 60px 0 0;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.services-card__cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/services/services-cloud.png") center no-repeat;
  max-width: 241px;
  width: 100%;
  height: 110px;
}

.services-card:hover .services-card__block {
  -webkit-box-shadow: 0px 4px 16px #F492B2;
          box-shadow: 0px 4px 16px #F492B2;
}

.services-card:hover .services-card__button {
  bottom: -70px;
}

.services-card:hover .button--primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6799), to(#F65D77));
  background: -webkit-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: -o-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: linear-gradient(180deg, #FF6799 0%, #F65D77 100%);
}

.services-card:hover .button--primary:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6799), to(#F65D77));
  background: -webkit-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: -o-linear-gradient(top, #FF6799 0%, #F65D77 100%);
  background: linear-gradient(180deg, #FF6799 0%, #F65D77 100%);
}

@media (max-width: 1360px) {
  .menu__contacts {
    margin-right: 0;
  }
  .hero__bg {
    background-position: center;
  }
}

@media (max-width: 1200px) {
  .hero__bg {
    min-height: 766px;
  }
  .hero__content {
    max-width: none;
  }
  .hero__title {
    font-size: 29px;
    line-height: 39px;
    max-width: 500px;
  }
  .hero p {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 32px 0 3px;
  }
  .menu__logo {
    margin-top: -21px;
    width: 74px;
  }
  .menu__burger {
    margin: -3px 22px 0 4px;
  }
  .contacts__button {
    width: 154px;
    margin-right: 5px;
    padding: 6px 10px 9px 11px;
  }
  .contacts__whatsapp {
    margin: -4px 23px 0 0;
  }
  .contacts__viber {
    margin: -2px 20px 0 29px;
  }
  .contacts__phone {
    margin-top: 1px;
  }
  .contacts__phone::before {
    content: '';
    background: url(../img/phone.svg) no-repeat;
    width: 18px;
    height: 19px;
    background-size: cover;
    margin: 0 14px 0 0;
  }
  .hero {
    padding-top: 187px;
  }
  .hero__cloud {
    display: none;
  }
  .hero__content {
    margin: 6px 0 0 5px;
  }
  .hero__bg {
    min-height: 566px;
    background-size: cover;
  }
  .hero p {
    margin: 24px 0 45px;
  }
  .hero__button {
    margin-left: 0;
    padding: 17px 110px 13px 110px;
  }
}

@media (max-width: 660px) {
  .contacts__viber {
    margin: -2px 10px 0 10px;
  }
  .contacts__whatsapp {
    margin: -4px 10px 0 0;
  }
  .contacts__phone {
    font-size: 14px;
  }
  .contacts__button {
    display: none;
  }
  .menu__burger {
    width: 27px;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 22px 0 3px;
  }
  .contacts__whatsapp {
    margin: -4px 0 0 0;
    width: 19px;
  }
  .contacts__viber {
    width: 19px;
  }
  .contacts__phone {
    margin-top: 0;
  }
  .menu__logo {
    width: 38px;
    margin-top: -7px;
  }
  .menu__burger {
    margin: -3px 5px 0 4px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero__bg {
    min-height: 418px;
  }
  .hero__title {
    max-width: 260px;
    font-size: 20px;
    line-height: 28px;
  }
  .hero p {
    font-size: 18px;
    line-height: 25px;
  }
  .hero__content {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 18px 0 7px;
  }
  .menu__block {
    margin-left: -4px;
  }
  .menu__burger {
    margin: -3px 3px 0 4px;
  }
  .contacts__phone::before {
    margin: -4px 7px 0 0;
  }
  .contacts__viber {
    margin: -2px 10px 0 12px;
  }
  .hero {
    padding-top: 129px;
  }
  .hero p {
    margin: 7px 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */